---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
Current Status: Poking at the intersection of ITPs and ATPs.
</div>

{{ content | safe }}
